<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nateshmbhat.card_scanner">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,face,barcode"
            tools:replace="android:value" />
        <activity
            android:name=".CardScannerCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">
        </activity>
    </application>

</manifest>